/* body */
body{
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
    background-color: #FDEECD;
}

/* Login */
#contLog{
   
    width: 75%;
    padding-bottom: 80px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
    background-color: #FDEECD;
    opacity: 0.9;
}
#logoacc{
    width:40%;
    margin-left:32%;
    margin-bottom: 20px;
}
#meslo{
    margin-left:40%;
    font-size: 14px;
    color: whitesmoke;
}
.rojo{
    color: #F78181;
    margin-left:3%;
}
.datosus{
    margin-left: 30%;
    
}
.intus{
    margin-left:30%;
    width: 40%;
    display: inline-block;
    box-sizing: content-box;
    padding: 7px 20px;
    border: 1px solid #FDEECD;
    background-color: #FDEECD;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1)
}
#buttonlog{
  width: 44.5%;
  border: 0px;
  color: #ffffff;
  font-size: 16px;
  background: #151515;
  padding: 10px 20px;
  text-decoration: none;
  margin-left: 30%;
  margin-top: 20px;
  font-family: Montserrat,sans-serif;
  letter-spacing: .0625em;
}
#buttonlog:hover{
    background: #D24858;
    text-decoration: none;
}
/* Menu */
#menu{
    height: 90px;
    background-color: #493831;
    
}
#logomenu{
   float: left;
   margin-left: 2%; 
   width: 150px;
   margin-top: 5px;
   margin-bottom: 5px;
}
#navmenu{
    float: right;
    width: 80%;
    padding-right: 2%;
}
#ulmenu{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    
}

.amenu{
    text-decoration: none;
    color: whitesmoke;
}
.limenu{
    border-bottom: solid 2px #493831;
    float: left;
    text-align: center;
    padding: 02px 10px;
    margin: 0px 10px;
    height: 100%;
    line-height: 25px;
    font-size: 20px;
}
.limenu:hover{
    border-bottom: solid 2px #D24858;
}
/* Usuarios y Entradas*/
hr{
    width: 85%;
    border: 0.5px solid #666666; 
}
#contusu{
    margin-top: 50px;
    margin-bottom: 80px;
    padding-bottom: 60px;
    padding-top: 20px;
    background: #FDEECD;
    opacity: 0.90;
    position: relative;    
}
#titulous{
    margin-left: 10%;
}
#titulosus{
    height: 20px;
    list-style: none;
    margin-left: 10%;
    padding: 0px;
}
#titizq{
    float: left;

}
#negro{
    color:black;
    text-decoration: none;    
}
#titdrch{
    float: right;
    margin-right: 10%;
   
}
#acciones{
    float: right;
    margin-right: 10%;
}
.acciones2{
    margin-left: 4px;
    color:black;
}
.acciones2:hover{
    color: #D24858;
}
#activo{
    color: #DFFF5E;
}
#activo :hover{
    color: #FF5C5C;
}
#inactivo{
    color: #FF5C5C;
}
#inactivo :hover{
    color: #DFFF5E;
}
/* Usuario y Entrada*/
.titdatos{
    margin-left: 10%;
    font-size: 18px;
    
}
.intdatos{
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
    box-sizing: content-box;
    padding: 5px 20px;
    border: 1px solid #000000;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
}
.guardar{
  border: 0px;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #575757;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 10%;
}
.guardar :hover{
  background: #E5D2E5;
  text-decoration: none; 
}
/*Entrada*/
.cke_chrome {
    margin-left: 10% !important;
    margin-right: 10% !important;
    height: 300px !important;
}

/* Usuario*/
/* Home */
#contenedor_home{

}
#banner{
    padding-top: 40px;
    background-image: url("../img/banner2.png");
    background-size: cover;
    padding-bottom: 120px;
}
#logo_home{
    width: 25%;
    margin-left:37%;
    margin-bottom: 20px;
}
#campo_buscar{
    
    margin-left:33.5%;
    width: 20%;
    display: inline-block;
    box-sizing: content-box;
    padding: 7px 20px;
    border: 1px solid #FDEECD;
    background-color: #FDEECD;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
}
#buscar{
  border: 0px;
  color: #ffffff;
  font-size: 14px;
  background: #151515;
  padding: 9px 20px;
  text-decoration: none;
  margin-left: -5px;
  font-family: Montserrat,sans-serif;
  letter-spacing: .0625em;
}

#buscar:hover {
  background: #D24858;
  text-decoration: none;
}   
#cuerpo_noticias{
    
}
#noticias{
    background-color: #FDEECD;
    margin-top: -70px;
    margin-left: 4%;
    margin-right: 4%;
    height: 900px;
    width: 88%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%
    
}
.noticia{
    float:left;
    width: 220px;
    height: 185px;
    padding-right: 20px;
    padding-bottom: 15px;
    text-align: right;
    background-color: #151515;
    margin-left: 2.5%;
    margin-top: 4%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
    letter-spacing: .0625em;
    
}
.noticia:hover{
    background-color: #D24858;
}
.noticia_enlace{
    text-decoration: none;
    color: whitesmoke;
}
/* Footer */
#footer{
    background: #FDEECD;
    height: 85px;
}
#logopie{
    width:120px;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}
#nombre{
    width:120px;
    float: right;
    margin-right: 20px;
    margin-top: 18px;
}
@media only screen and (max-width: 768px) {

}