/* body */
body{
    margin: 0px;
    pading: 0px;
    font-family: arial;
}

/* Login */
#contLog{
    margin-top: 200px;
    border: solid black 2px ;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 200px;
}
#logoacc{
    width:300px;
    margin-left: 150px;
}
.datosus{
    margin-left: 30%;
}
.intus{
    
}
/* Footer */
#footer{
    background-color: black;
    width: 100%;
    height: 90px;
}
#logopie{
    width:120px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}
#txtfooter{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    text-align: center;

}